# Python
__pycache__/
*.pyc

# Virtual env
env/
venv/

# Database
db.sqlite3

# Sensitive
.env

# Media (user uploads - ignore)
media/

# Static collected (production only)
static_root/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db