/* Color Palette */
:root {
    --portal-blue:rgb(33, 32, 95);
}

/* Navbar General Styling */
.custom-navbar {
    padding: 10px 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(183, 213, 252) 100%);
}

.nav-icon-box {
    width: 45px;
    background-color: var(--portal-blue);
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-icon-box i {
    color: white;
    font-size: 24px;
}

/* Nav Links */
.nav-link {
    color: var(--portal-blue) !important;
    font-weight: 600;
    margin: 0 5px;
    transition: all 0.4s ease-in-out;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 14px !important;
    font-size: 15px;
    
}

.nav-link i {
    font-size: 18px;
    opacity: 0.8;
}

.nav-link:hover, .nav-link.active {
    background-color: var(--portal-blue);
    color: white !important;
    border-radius: 8px;
}

/* Profile Dropdown */
.Profile i {
    color: var(--portal-blue);
    transition: 0.3s ease;
}

.custom-dropdown {
    border: 1px solid rgb(183, 210, 241);
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    border-radius: 12px;
    padding: 8px;
    min-width: 180px;
    margin-top: 15px !important;
    background: linear-gradient(0deg, rgb(212, 218, 225) 0%, rgb(255, 255, 255) 100%);
}

.custom-dropdown .dropdown-item {
    color: var(--portal-blue);
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
}

.custom-dropdown .dropdown-item:hover {
    background-color: var(--portal-blue);
    color: white !important;
}

.dropdown-toggle::after {
    display: none !important;
}

/* Accounts Styling */
#accounts {
    color: var(--portal-blue);
    font-size: 16px;
    margin-bottom: 10px;
}

/* Mobile Offcanvas View (Pharmacy Style) */
@media (max-width: 991px) {
    .navbar-toggler {
        background-color: var(--portal-blue);
        border: none;
        padding: 5px 8px;
    }
    
    .mobile-link {
        display: flex !important;
        align-items: center;
        padding: 12px !important;
        margin-bottom: 8px;
        border-radius: 8px;
        justify-content: flex-start !important; /* Center se huta kar left align */
    }

    .offcanvas-body .nav-link:hover {
        background-color: var(--portal-blue);
        color: white !important;
    }
}

/* Nest Hub / Tablet Adjustments */
@media (min-width: 992px) and (max-width: 1200px) {
    .nav-link {
        font-size: 14px !important;
        padding: 7px 8px !important; 
        font-weight: 600 !important; 
    }
}