{% extends 'base.html' %}
{% load static %}

{% block title %}AI Health Monitor - E-Medcare{% endblock %}

{% block extra_css %}
{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="text-center py-5">
        <h1 class="fw-bold" style="color: rgb(33, 32, 95);">AI Health Monitor</h1>
        <p class="text-muted">Predictive models and health tracking at your fingertips.</p>
        <h3 class="mt-4">Hello AI Monitor Page</h3>
    </div>
</div>
{% endblock %}

{% block extra_js %}
{% endblock %}